<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script></script>
  </head>
  <body>
    <div class="quiz">
      <form action="/quiz/results" method="POST">
        <fieldset>
          <legend>Question 1</legend>
          <h3><%= questions[0].question %></h3>
          <p>
            <label for="q1a"><%= options[0][0] %></label>
            <input
              type="radio"
              id="q1a"
              name="q1"
              value="<%= options[0][0] %>"
              required
            />
          </p>
          <p>
            <label for="q1b"><%= options[0][1] %></label>
            <input
              type="radio"
              id="q1b"
              name="q1"
              value="<%= options[0][1] %>"
              required
            />
          </p>
          <p>
            <label for="q1c"><%= options[0][2] %></label>
            <input
              type="radio"
              id="q1c"
              name="q1"
              value="<%= options[0][2] %>"
              required
            />
          </p>
          <p>
            <label for="q1d"><%= options[0][3] %></label>
            <input
              type="radio"
              id="q1d"
              name="q1"
              value="<%= options[0][3] %>"
              required
            />
          </p>
        </fieldset>

        <fieldset>
          <legend>Question 2</legend>
          <h3><%= questions[1].question %></h3>
          <p>
            <label for="q2a"><%= options[1][0] %></label>
            <input
              type="radio"
              id="q2a"
              name="q2"
              value="<%= options[1][0] %>"
              required
            />
          </p>
          <p>
            <label for="q2b"><%= options[1][1] %></label>
            <input
              type="radio"
              id="q2b"
              name="q2"
              value="<%= options[1][1] %>"
              required
            />
          </p>
          <p>
            <label for="q2c"><%= options[1][2] %></label>
            <input
              type="radio"
              id="q2c"
              name="q2"
              value="<%= options[1][2] %>"
              required
            />
          </p>
          <p>
            <label for="q2d"><%= options[1][3] %></label>
            <input
              type="radio"
              id="q2d"
              name="q2"
              value="<%= options[1][3] %>"
              required
            />
          </p>
        </fieldset>

        <fieldset>
          <legend>Question 3</legend>
          <h3><%= questions[2].question %></h3>
          <p>
            <label for="q3a"><%= options[2][0] %></label>
            <input
              type="radio"
              id="q3a"
              name="q3"
              value="<%= options[2][0] %>"
              required
            />
          </p>
          <p>
            <label for="q3b"><%= options[2][1] %></label>
            <input
              type="radio"
              id="q3b"
              name="q3"
              value="<%= options[2][1] %>"
            />
          </p>
          <p>
            <label for="q3c"><%= options[2][2] %></label>
            <input
              type="radio"
              id="q3c"
              name="q3"
              value="<%= options[2][2] %>"
            />
          </p>
          <p>
            <label for="q3d"><%= options[2][3] %></label>
            <input
              type="radio"
              id="q3d"
              name="q3"
              value="<%= options[2][3] %>"
            />
          </p>
        </fieldset>

        <fieldset>
          <legend>Question 4</legend>
          <h3><%= questions[3].question %></h3>
          <p>
            <label for="q4a"><%= options[3][0] %></label>
            <input
              type="radio"
              id="q4a"
              name="q4"
              value="<%= options[3][0] %>"
              required
            />
          </p>
          <p>
            <label for="q4b"><%= options[3][1] %></label>
            <input
              type="radio"
              id="q4b"
              name="q4"
              value="<%= options[3][1] %>"
            />
          </p>
          <p>
            <label for="q4c"><%= options[3][2] %></label>
            <input
              type="radio"
              id="q4c"
              name="q4"
              value="<%= options[3][2] %>"
            />
          </p>
          <p>
            <label for="q4d"><%= options[3][3] %></label>
            <input
              type="radio"
              id="q4d"
              name="q4"
              value="<%= options[3][3] %>"
            />
          </p>
        </fieldset>

        <fieldset>
          <legend>Question 5</legend>
          <h3><%= questions[4].question %></h3>
          <p>
            <label for="q5a"><%= options[4][0] %></label>
            <input
              type="radio"
              id="q5a"
              name="q5"
              value="<%= options[4][0] %>"
              required
            />
          </p>
          <p>
            <label for="q5b"><%= options[4][1] %></label>
            <input
              type="radio"
              id="q5b"
              name="q5"
              value="<%= options[4][1] %>"
            />
          </p>
          <p>
            <label for="q5c"><%= options[4][2] %></label>
            <input
              type="radio"
              id="q5c"
              name="q5"
              value="<%= options[4][2] %>"
            />
          </p>
          <p>
            <label for="q5d"><%= options[4][3] %></label>
            <input
              type="radio"
              id="q5d"
              name="q5"
              value="<%= options[4][3] %>"
            />
          </p>
        </fieldset>

        <fieldset>
          <legend>Question 6</legend>
          <h3><%= questions[5].question %></h3>
          <p>
            <label for="q6a"><%= options[5][0] %></label>
            <input
              type="radio"
              id="q6a"
              name="q6"
              value="<%= options[5][0] %>"
              required
            />
          </p>
          <p>
            <label for="q6b"><%= options[5][1] %></label>
            <input
              type="radio"
              id="q6b"
              name="q6"
              value="<%= options[5][1] %>"
            />
          </p>
          <p>
            <label for="q6c"><%= options[5][2] %></label>
            <input
              type="radio"
              id="q6c"
              name="q6"
              value="<%= options[5][2] %>"
            />
          </p>
          <p>
            <label for="q6d"><%= options[5][3] %></label>
            <input
              type="radio"
              id="q6d"
              name="q6"
              value="<%= options[5][3] %>"
            />
          </p>
        </fieldset>

        <fieldset>
          <legend>Question 7</legend>
          <h3><%= questions[6].question %></h3>
          <p>
            <label for="q7a"><%= options[6][0] %></label>
            <input
              type="radio"
              id="q7a"
              name="q7"
              value="<%= options[6][0] %>"
              required
            />
          </p>
          <p>
            <label for="q7b"><%= options[6][1] %></label>
            <input
              type="radio"
              id="q7b"
              name="q7"
              value="<%= options[6][1] %>"
            />
          </p>
          <p>
            <label for="q7c"><%= options[6][2] %></label>
            <input
              type="radio"
              id="q7c"
              name="q7"
              value="<%= options[6][2] %>"
            />
          </p>
          <p>
            <label for="q7d"><%= options[6][3] %></label>
            <input
              type="radio"
              id="q7d"
              name="q7"
              value="<%= options[6][3] %>"
            />
          </p>
        </fieldset>

        <fieldset>
          <legend>Question 8</legend>
          <h3><%= questions[7].question %></h3>
          <p>
            <label for="q8a"><%= options[7][0] %></label>
            <input
              type="radio"
              id="q8a"
              name="q8"
              value="<%= options[7][0] %>"
              required
            />
          </p>
          <p>
            <label for="q8b"><%= options[7][1] %></label>
            <input
              type="radio"
              id="q8b"
              name="q8"
              value="<%= options[7][1] %>"
            />
          </p>
          <p>
            <label for="q8c"><%= options[7][2] %></label>
            <input
              type="radio"
              id="q8c"
              name="q8"
              value="<%= options[7][2] %>"
            />
          </p>
          <p>
            <label for="q8d"><%= options[7][3] %></label>
            <input
              type="radio"
              id="q8d"
              name="q8"
              value="<%= options[7][3] %>"
            />
          </p>
        </fieldset>

        <fieldset>
          <legend>Question 9</legend>
          <h3><%= questions[8].question %></h3>
          <p>
            <label for="q9a"><%= options[8][0] %></label>
            <input
              type="radio"
              id="q9a"
              name="q9"
              value="<%= options[8][0] %>"
              required
            />
          </p>
          <p>
            <label for="q9b"><%= options[8][1] %></label>
            <input
              type="radio"
              id="q9b"
              name="q9"
              value="<%= options[8][1] %>"
            />
          </p>
          <p>
            <label for="q9c"><%= options[8][2] %></label>
            <input
              type="radio"
              id="q9c"
              name="q9"
              value="<%= options[8][2] %>"
            />
          </p>
          <p>
            <label for="q9d"><%= options[8][3] %></label>
            <input
              type="radio"
              id="q9d"
              name="q9"
              value="<%= options[8][3] %>"
            />
          </p>
        </fieldset>

        <fieldset>
          <legend>Question 10</legend>
          <h3><%= questions[9].question %></h3>
          <p>
            <label for="q10a"><%= options[9][0] %></label>
            <input
              type="radio"
              id="q10a"
              name="q10"
              value="<%= options[9][0] %>"
              required
            />
          </p>
          <p>
            <label for="q10b"><%= options[9][1] %></label>
            <input
              type="radio"
              id="q10b"
              name="q10"
              value="<%= options[9][1] %>"
            />
          </p>
          <p>
            <label for="q10c"><%= options[9][2] %></label>
            <input
              type="radio"
              id="q10c"
              name="q10"
              value="<%= options[9][2] %>"
            />
          </p>
          <p>
            <label for="q10d"><%= options[9][3] %></label>
            <input
              type="radio"
              id="q10d"
              name="q10"
              value="<%= options[9][3] %>"
            />
          </p>
        </fieldset>
        <p>
          <button type="submit">Submit Answers</button>
        </p>
      </form>
    </div>
  </body>
</html>
